{% extends 'mylucky/base.html' %}
{% load static %}
{% block linkscript %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <script type="text/javascript" src="{% static 'home/js/home.js' %}"></script>
{% endblock linkscript %}
{% block base %}
{#顶部导航栏#}
    <nav id="header-navbar" class="navbar navbar-expand-lg py-4 navbar-transparent">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center text-white" href="/">
                <h3 class="font-weight-bolder mb-0">LUCKY</h3>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-header" aria-controls="navbar-nav-header" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-nav-header">
                <form class="form-inline m-auto" enctype="multipart/form-data" id="search" name="search">
                    {% csrf_token %}
                    <input class="form-control" style="width: 20rem" placeholder="Search" id="str" name="str">
                    <button class="btn btn-primary" type="submit">搜索</button>
                </form>

            </div>
            <ul class="navbar-nav ml-auto" style="min-width: 10%">
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="/mine/">{{user.name}}</a>#}
{#                    </li>#}
                    <li class="nav-item userimg">
                        <div class="imgdiv">
                            <a href="/mine/"><img style="width: 130%;" src="{% static user.img %}"></a>
                        </div>
                        <div class="xiaoxi">
                            <ul class="ml-auto">
                                <li class="nav-item"><a class="nav-link text-dark" href="/mine/1/1/">我参与的</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" href="/mine/2/1/">我发布的</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" href="/mine/3/1/">历史记录</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" href="/mine/4/1/">中奖记录</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout/">退出登录</a>
                    </li>
                </ul>
        </div>
    </nav>
{#<div style="margin-left: -2rem;margin-right: -2rem;position: relative">#}

{#悬浮按钮#}
<div class="sidebar-control">
        <button id="control" type="button" class="btn btn-dark">关闭导航</button>
    </div>

<div class="d-flex cont" style="margin-left: -2rem;margin-right: -2rem;">
{#左侧导航栏#}
    <div class="sidebars" id="sidebars">
    <div class="sidebar" id="sidebar">
        <ul>
            <li><a href="javascript:void(0)" id="allList">全部</a></li>
            <li>
                <a href="#collapseExample" data-toggle="collapse" id="aaa">分类<i class="fa fa-chevron-down"></i></a>
                    <ul class="collapse" id="collapseExample" style="background: #ececf6">
                        <li><a href="javascript:void(0)" id="dianzi">电子/数码</a></li>
                        <li><a href="javascript:void(0)" id="jiating">家庭/日用</a></li>
                        <li><a href="javascript:void(0)" id="fushi" >服饰/护理</a></li>
                        <li><a href="javascript:void(0)" id="jiushui">食品/酒水</a></li>
                        <li><a href="javascript:void(0)" id="dajiang">超大奖品</a></li>
                    </ul>
            </li>
            <li><a href="#">猜你喜欢</a></li>
            <li><a href="javascript:void(0)" id="showrelease"  name="showrelease">发布抽奖</a></li>
        </ul>
    </div>
</div>


{#显示奖品#}
    <div class="litem flex-grow-1" name="litem" id="litem">
{#    {% include 'mylucky/prizeList.html' %}#}
</div>
</div>

{#发布抽奖#}
    <div class="release" id="release">
    <div class="released" id="released">
    <form method="post" action="/release/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12 form-group">
                <select required="required" class="form-control-sm" id="type" name="type">
                    <option>请选择类型</option>
                    <option value="1">电子/数码</option>
                    <option value="2">家庭/日用</option>
                    <option value="3">服饰/护理</option>
                    <option value="4">食品/酒水</option>
                    <option value="5">超大奖品</option>
                </select>
            </div>
            <div class="col-md-12 form-group">
                <input required="required" type="text" class="form-control" id="name" name="name" placeholder="名称">
            </div>
            <div class="col-md-12 form-group">
                <input required="required" type="number" class="form-control" id="num" name="num" placeholder="数量">
            </div>
            <div class="col-md-12 form-group">
                    <input required="required" type="text" class="form-control" id="content" name="content" placeholder="简介">
            </div>
            <div class="col-md-12 form-group">
                <input type="url" class="form-control" id="purl" name="purl" placeholder="抽奖码链接，没有不填写">
            </div>
            <div class="col-md-12 form-group">
                <input max="10" type="text" class="form-control" id="code" name="code" placeholder="抽奖码，没有不填写">
            </div>
            <div class="col-md-12 form-group">
                <input type="file" class="form-control" id="img" name="img" placeholder="照片">
            </div>
            <div class="col-md-12 form-group">
                <input required="required" type="datetime-local" class="form-control" id="usetime" name="usetime" placeholder="开奖时间">
            </div>
            <div class="col-md-12 text-center">
{#                <button class="btn btn-primary btn-shadow btn-lg" type="submit" name="submit">发布</button>#}
                <button class="btn btn-secondary" id="cancel" name="cancel">取消</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">提交数据</button>
            </div>
        </div>
        <!-- 模态框 -->
        <div class="modal fade" id="myModal" style="top: 0">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- 模态框头部 -->
              <div class="modal-header">
                <h4 class="modal-title" style="color: black">奖品提交</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- 模态框主体 -->
              <div class="modal-body" style="color: black">
                确认奖品数据无误？
              </div>

              <!-- 模态框底部 -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">再看看</button>
                  <button type="submit" class="btn btn-primary">确认</button>
              </div>

            </div>
          </div>
        </div>
    </form>
    </div>
    </div>

{% endblock base %}
