{% extends 'mylucky/home.html' %}
{% block home %}
{#显示奖品#}
    <div class="litem">
            <ul>
                {% for item in prize %}
                <li style="list-style: none">
                    <a href="/prize/{{ item.id }}">
                        <p>{{ item.name }}  {{ item.creatTime }} {{ item.puser.name }}</p>
{#                        span class="unit">{{item.specifics}}</span>#}
                    </a>
                </li>
                {% endfor %}
            </ul>
    </div>

{#发布抽奖#}
    <div class="release" id="release">
    <div class="released" id="released">
    <form method="post" action="/release/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12 form-group">
                <select required="required" class="form-control-sm" id="type" name="type">
                    <option value="1">电子/数码</option>
                    <option value="2">家庭/日用</option>
                    <option value="3">服饰/护理</option>
                    <option value="4">食品/酒水</option>
                    <option value="5">超大奖品</option>
                </select>
            </div>
            <div class="col-md-12 form-group">
                <input required="required" type="text" class="form-control" id="name" name="name" placeholder="名称">
            </div>
            <div class="col-md-12 form-group">
                <input required="required" type="number" class="form-control" id="num" name="num" placeholder="数量">
            </div>
            <div class="col-md-12 form-group">
                    <input required="required" type="text" class="form-control" id="content" name="content" placeholder="简介">
            </div>
            <div class="col-md-12 form-group">
                <input type="url" class="form-control" id="purl" name="purl" placeholder="抽奖码链接，没有不填写">
            </div>
            <div class="col-md-12 form-group">
                <input max="10" type="text" class="form-control" id="code" name="code" placeholder="抽奖码，没有不填写">
            </div>
            <div class="col-md-12 form-group">
                <input type="file" class="form-control-file" id="img" name="img">
            </div>
            <div class="col-md-12 form-group">
                <input required="required" type="datetime-local" class="form-control" id="usetime" name="usetime" placeholder="开奖时间">
            </div>
            <div class="col-md-12 text-center">
{#                <button class="btn btn-primary btn-shadow btn-lg" type="submit" name="submit">发布</button>#}
                <button class="btn btn-secondary" id="cancel" name="cancel">取消</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">提交数据</button>
            </div>
        </div>
        <!-- 模态框 -->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- 模态框头部 -->
              <div class="modal-header">
                <h4 class="modal-title" style="color: black">奖品提交</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- 模态框主体 -->
              <div class="modal-body" style="color: black">
                确认奖品数据无误？
              </div>

              <!-- 模态框底部 -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">再看看</button>
                  <button type="submit" class="btn btn-primary">确认</button>
              </div>

            </div>
          </div>
        </div>
    </form>

    </div>

    </div>

{% endblock home %}